<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
</head>

<style>
    .container {
        display: grid;
        grid-template-areas:
            "navigation article";
        column-gap: 5px;
        grid-template-columns: auto 1fr;
    }
</style>

<body>
    <div class="container">
        <div style="grid-area: navigation; width: 20vw; max-width: 300px; min-width: 200px;">
            <%- include(navigationPath, {tree: tree}); %></div>
        <div style="grid-area: article"><%- article %></div>
    </div>
</body>

</html>