<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
</head>

<style>
    html,
    body,
    div {
        padding: 0;
        margin: 0;
    }

    .container {
        display: flex;
        padding: 62px;
        height: 100vh;
        flex-direction: column;
        box-sizing: border-box;
        justify-content: center;
    }

    .title {
        font-size: 62px;
        line-height: 72px;
        font-weight: bold;
    }

    .info {
        margin-top: 8px;
        font-size: 18px;
    }

    .login {
        margin-top: 8px;
        font-size: 18px;
        text-decoration: none;
        color: navy;
    }
</style>

<body>
    <div class="container">
        <div class="title"><%- title.replace(/ /g, '\<br>') %></div>
        <div class="info">404! Article Not Found Or Viewing Permission Required</div>
        <a class="login" href="<%= authPath %>">
            <%if (loggedIn) { %>
            Click to Re-Login
            <% } else { %>
            Click to Login
            <% } %>
        </a>
    </div>
</body>

</html>