<style>
    .category {
        font-weight: bold;
        font-size: 18px;
        margin-top: 10px;
    }

    .sub-category {
        padding-top: 10px;
        padding-left: 10px;
    }

    .article {
        font-weight: normal;
        line-height: 23px;
        font-size: 18px;
    }

    .link {
        text-decoration: none;
        color: black;
        transition: 0.3s all;
    }

    .link:hover {
        color: blue;
    }
</style>

<% renderTrees = function(trees) { %>
<% trees.forEach(function (child) { %>
<div class="category">
    <%= child.title %>
    <div class="sub-category">
        <% child.articles.forEach(function (article) { %>
        <div class="article">
            <a class="link" href="<%= parseLink(article) %>"><%= article.title %></a>
        </div>
        <% }); %>
        <%- renderTrees(child.children); %>
    </div>
</div>
<% }); %>
<% } %>

<% renderTrees(trees) %>